div.wrapper{
    display: flex;
    flex: 1;
}
p.title{
    font-size: 17px;
    font-weight: bold;
}

p.menuDescription{
    font-size: 17px;
}
div.recipe > img{
    margin: auto;
}
div.ingredients{
    display: flex;
    flex-direction: column;
    flex-grow:1;
}

div#recipe{
    font-size: 17px
    border-color:black;
    border-width:1px;
    border-style:solid;
    width: 50%;
    padding:10px;
    display: inline;
    margin: 0 1em 0 1em;
}

div#yes_ingredients{
    border-color:black;
    border-width:1px;
    border-style:solid;
    padding: 10px;
    margin: 5px;
    flex: 0 0 35%
}

div#no_ingredients{
    border-color:black;
    border-width:1px;
    border-style:solid;
    padding: 10px;
    margin: 5px;
    flex: 0 0 35%
}
