div.wrapper{
    display: flex;
    flex: 1;
}

p.title{
    font-size: 25px;
    font-weight: bold;
    margin : 0 auto;
}

p.menuTitle{
    font-size: 25px;
    font-weight: bold;
    border-width : 2px;
    border-style : solid;
    bodrer-color : black;
    background : orange;
    display : block;
    margin : 0 auto;
}

div#recipe > img{
    display: block;
    margin-left : auto;
    margin-right : auto;
    margin-top : 10px
}

div.menuDescription{
   border-width : 2px;
   border-style : solid;
   border-color : black;
   font-size : 17px
}

div.ingredients{
    display: flex;
    flex-direction: column;
    flex-grow:1;
}

div#recipe{
    font-size: 17px
    border-color:black;
    border-width:1px;
    border-style:solid;
    width: 50%;
    padding:10px;
    display: inline;
    margin: 0 1em 0 1em;
}

div#yes_ingredients{
    border-color:black;
    border-width:1px;
    border-style:solid;
    padding: 10px;
    margin: 5px;
    flex: 0 0 35%
}

div#no_ingredients{
    border-color:black;
    border-width:1px;
    border-style:solid;
    padding: 10px;
    margin: 5px;
    flex: 0 0 35%
}
