div#content{
    position : absolute;
    top : 95px;
}

div#recipe_recom{
    width:50%
}

div#my_fridge{
    width:50%;
}

div.recipe_recom_photo{
    float: left;
    width: 190px;
    height: 180px;
}

div.recipe_recom_photo > img {
    border-radius:20px;
    display: block;
    margin :0 auto;

}

div.recipe_recom_photo > li {
    font-size : 17px;
    font-weight: bold;
    text-align : center;
    color : white;
}


ul {
  list-style-type: none;
}
