{% extends "base.html" %}

{% block title %}mealpref_change_list.html{% endblock %}

{% block content %}
<body>
    <div>
        <h1>Meal preference -{{user}}</h1>

        <form action="." method="post">{% csrf_token %}
            {% if form.errors %}
            <p>Wrong! Please correct the errors</p>
            {% endif %}

            <div>아침
                {{ form.morning }}
            </div>
            <div>점심
                {{ form.lunch }}
            </div>
            <div>저녁
                {{ form.dinner }}
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
