{% extends "base.html" %}

{% block title %}mealpref_change_list.html{% endblock %}

{% block content %}

    <div>
        나의 식습관은
        <table>
            <tr>
               <td>아침</td>
                <td>점심</td>
                <td>저녁</td>
            </tr>
            {% for item in object_list %}
            <tr>
                <td>{{ item.get_morning_display }}</td>
                <td>{{ item.get_lunch_display }}</td>
                <td>{{ item.get_dinner_display }}</td>
                <td><a href="{% url 'mealpref:update' item.id %}">Update</a></td>
                <td><a href="{% url 'mealpref:delete' item.id %}">Delete</a></td>
                {% endfor %}
            </tr>
        </table>
    </div>

{% endblock %}