{% extends "base.html" %}

{% block title %}냉장고 관리{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "fridge/manage.css" %}{% endblock %}

{% block content %}
<div id="content">
    <div id="frozen">
        <p style = 'font-size : 15px'>냉동</p>
    </div>
    <div id="cold">
        <p style = 'font-size : 15px'>냉장</p>
    </div>
    <div id="warm">
        <p style = 'font-size : 15px'>실온</p>
    </div>
    <div>
        <p>채워넣기</a></p>
        {% if object_list %}
        <ul>
            {% for ingredient in object_list %}
            <li>{{ ingredient.ingredientName }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
