{% extends "base.html" %}

{% block title %}ingredient_list.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "fridge/menu_detail.css" %}{% endblock %}


{% block content %}
<div id="content">

    <div id="recipe">
        <h4>{{ menu.menu_name }}</h4>
        {% if menu.menu_image %}
            <img src="{{ menu.menu_image.url }}" height="300" /> <br><br>
        {% else %}
            <img src="//:0" height="300" title="사진 불러오기"> <br><br>
        {% endif %}

        <span>
            {{ menu.recipe.description }}
        </span>

    </div>

    <div id="yes_ingredients">
        <h4>있는 재료</h4> <br>
       <ul>
            {% for ingre_code, ingre_weight in yes_ingre.items %}
           <li>{{ ingre_code.ingredientName }}<br>
           {{ ingre_weight }}{{ ingre_code.unit }}</li>
            {% endfor %}
           {% for sauce in menu.sauce.all %}
           <li>{{ sauce }}</li>
           {% endfor %}
        </ul>
    </div>

    <div id="no_ingredients">
        <h4>없는 재료</h4> <br>
       <ul>
            {% for ingre_code, ingre_weight in no_ingre.items %}
           <li>{{ ingre_code.ingredientName }}<br>
               {{ ingre_weight }}{{ ingre_code.unit }}
           </li>
            {% endfor %}
        </ul>
    </div>

    <div>
    <form method="POST" action="{% url 'fridge:do_scrap' menu.id %}">{% csrf_token %}<input type="submit" value="스크랩&hearts;"></form>
    </div>

</div>
{% endblock %}
