{% extends "base.html" %}

{% block title %}recom_list.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "fridge/recom_list.css" %}{% endblock %}

{% block content %}
<div id="content">
    <div id="recipe_recom">
        <ul>
            {% for recom in recom_list %}
            <li><a href ="{% url 'fridge:menu_detail' pk=recom.pk %}">{{ recom.menu_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="my_fridge">
        <h5>MY 냉장고</h5>



    </div>
</div>
{% endblock %}
