{% extends "base.html" %}

{% block title %}recom_list.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "fridge/recom_list.css" %}{% endblock %}

{% block content %}
<div id="content">
    <div id="recipe_recom">
        <ul>
            {% for recom in recom_list %}
                <div>
                    {% if recom.menu_thumbnail %}
                        <img src="{{ recom.menu_thumbnail.url }}" />
                    {% endif %}
                    <li><a href ="{% url 'fridge:menu_detail' pk=recom.pk %}">{{ recom.menu_name }}</a></li>
                </div>


            {% endfor %}
        </ul>
    </div>
    <div id="my_fridge">
        <h5>MY 냉장고</h5>



    </div>
</div>
{% endblock %}
